
  <head>
    <title>dev blog post</title>
  </head>
  <body>
    <div>
      <h1><a href="/">dev blog post</a></h1>

    </div>

    <div>
      <p>published 19.03.2019 ,19:24</p>
      <h2><a href ="">My first Post</a></h2>
      <p> Hello ,My name is Devansh Chaubey.I am student of Ambedker institute
    of advanced communication technologies and research inshort AIACTR,..
    this is my first blog post.Let start with who i am and what i am doing..
    I am pursuing B.tech in Computer Science Branch/
    I have just started developing a website ..
    I actually do only web backend developement + i have small amount knowledge website
    design .......
    </div>

    <div>
      <p>PUBLISHED:19.03.2019 ,12:14</p>
      <h2><<a href="">My second post</a></h2>
      <p>This is my own story ,Okay i am intereted both in study and theatre..
      theatre......
    how this came
      this is long story,it will take time
    any other day </p>
    </div>

  </body>
